table{
    background-color: rgb(10, 156, 206);
    border: #0c99c9;
}
th {
    background-color: #012b2b;
    color: #c1f3c2;
}
td {
    background-color: #c5f5c5;
}
.diff {
    background-color: #9ece9e;
}